<!DOCTYPE html>
<html>
<head>
    <title>Station</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="grid">
    <figure class="effect-lily">
        <img src="/images/memory.jpg" alt="memory">
        <figcaption>
            <h2>Memory <span></span></h2>
            <p>We have been to</p>
            <p>many places</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-romeo">
        <img src="/images/mario.jpg" alt="mario">
        <figcaption>
            <h2>Fun <span>Game</span></h2>
            <p>I have a lot of toys produced by maintank</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-oscar">
        <img src="/images/pandora.jpg" alt="pandora">
        <figcaption>
            <h2>Pandora <span></span></h2>
            <p>When you want, you get</p>
            <a href="/pandora">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-apollo">
        <img src="/images/plan.jpg" alt="plan">
        <figcaption>
            <h2>Time to do <span></span></h2>
            <p>You will get email if you forgot</p>
            <a href="/plan">View more</a>
        </figcaption>
    </figure>
</div>
</body>
</html>
