body {
    padding: 50px;
  /*  background-color: rgb(181, 202, 160);*/
    background-color: rgb(220,220,220);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
    width: 100%;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.grid figure {
    width: 25%;
    max-width: 350px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 8px solid rgb(139, 129, 195);
}

.grid figure img {
    position: relative;
    display: block;
    height: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
    padding: 20px;
    top: auto;
    bottom: 0;
    height: 50%;
    text-align: left;
}

figure.effect-lily h2,
figure.effect-lily p {
    text-align: right;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255,255,255,0.6);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img{
    opacity: 0.5;
}
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}


/*---------------*/
/***** Romeo *****/
/*---------------*/
/*figure.effect-romeo {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}*/

figure.effect-romeo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-romeo:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 2px;
    background: #fff;
    opacity: 0;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
    opacity: 0.7;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-romeo h2 {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
    transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
    transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}


/*---------------*/
/* effect-oscar  */
/*---------------*/
figure.effect-oscar img {
    -webkit-transform: scale(1);
    tranform: scale(1);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-oscar h2 {
    top: 25%;
    width: 100%;
    position: absolute;
    -webkit-transform: translate3d(0,20px,0);
    -webkit-transition: -webkit-transform 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar figcaption::before {
    opacity: 1;
    -webkit-transform: scale(0);
    -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
}

figure.effect-oscar:hover figcaption::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover img{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-oscar:hover h2{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar p {
    top: 50%;
    width: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transform: translate3d(0,-30px,0);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.35s;
}

figure.effect-oscar:hover p{
    opacity: 1;
    -webkit-transform: translate3d(0,10px,0);
}


/*-----------------*/
/***** Apollo *****/
/*-----------------*/
figure.effect-apollo {
    background: #3498db;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
    margin-left: 20px;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;

}

figure.effect-apollo:hover h2 {
    -webkit-transform: translate3d(35%,100px,0);
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* ~~~~~~~~~ plan ~~~~~~~~~ */

.list {
    width: 200px;
    position: absolute;
    left: 0px;
    -webkit-transform: translate3d(-200px,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    border-radius: 3px;
    background-color: rgb(148, 122, 109);
}

.list:hover {
    -webkit-transform: translate3d(0, 0, 0);
}

.list .title {
    position: inherit;
    padding: 5px;
}

.list-tag {
    width: 20px;
    height: 20px;
    background-color: rgb(148, 122, 109);
    /*background-color: rgb(208,16,76); */
    position: absolute;
    left: 200px;
    top: 3px;
}

.list .herder {
    padding: 5px;
    font-size: 16px;
}

.list .table {
    padding: 3px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list .table .card,
.list .table .add {
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
}

.list .table .add::before, 
.list .table .add::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 2px;
    background: #fff;
}