<!DOCTYPE HTML>
<head>
	<title>Memory</title>
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/memory/memory.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ea084ebc3bc5e458b7a797e4555cb761"></script>
	<script type="text/javascript" src="/javascript/memory/main.js"></script>
</head>
<body>
	<div id="mapContainer"></div>
</body>

